<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PORTFOLIO</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="../components/css/style.css">
    </head>
    <body>
        <header>
            <div class="user">
                <img src="../components/img/img1.jpg">
                <h3 class="name">Guilherme</h3>
                <p class="gui">front-end developer</p>
            </div>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="#serviço">Serviço</a>
                    </li>
                    <li>
                        <a href="#educação">Educação</a>
                    </li>
                    <li>
                        <a href="#contato">Contato</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">

      <section class="home" id="home">

            <h3>Olá. . .</h3>

            
                <h3 class="name">My name is
                    <span>Guilherme</span>
                </h3>

                <h3 class="post">i am a
                    <span class="typing-text">Front end developer</span>
                </h3>

                <a href="#">
                    <button class="btn">Contrate-me</button>

                </a>

                <div class="share">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </section>

            <section class="about" id="sobre">

              <div class="content">
                <h1 class="heading">About me</h1>


                <h3 class="name">My name is
                  <span>Guilherme vieira pires</span>
                  <p>Boa tarde pessoal, comecei a estudar programação faz 3 meses,
                     estudei as tecnologias css, html, javascript e React JS,</p>

                  <p>Boa tarde pessoal, comecei a estudar programação faz 3 meses,
                    estudei as tecnologias css, html, javascript e React JS,</p>
              </div>

              <div class="skills">
                <div class="progress">
                <h3>Html <span>90%</span></h3>
                <div class="bar"><span></span></div>

                </div>
                <div class="progress">
                <h3>Css <span>75%</span></h3>
                <div class="bar"><span></span></div>

                </div>
                <div class="progress">
                <h3>JavaScript <span>70%</span></h3>
                <div class="bar"><span></span></div>

                </div>
                <div class="progress">
                <h3>React js <span>55%</span></h3>
                <div class="bar"><span></span></div>

                </div>
                <div class="progress">
                <h3>Node js <span>50%</span></h3>
                <div class="bar"><span></span></div>

                </div>
                <div class="progress">
                <h3>Laravel <span>65%</span></h3>
                <div class="bar"><span></span></div>

                </div>
                <div class="progress">
                <h3>Vue js <span>60%</span></h3>
                <div class="bar"><span></span></div>

                </div>

              </div>



            </section>
        </div>


<!--Typed js-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

           <script>
             var type = new Typed('.typing-text', {
               strings : [ 'Web designer', 'Front end developer',  'Graphic designer', 'Contacte-me' ],
                  typeSpeed: 120,
                  loop:true
             })


           </script>

    </body>
</html>
